<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>photos</key>
		<array>
			<array>
				<string>http://vpic.video.qq.com/4279403666/p00164k7ye0_ori_2.jpg</string>
				<string>http://img04.images2.china.com/grab/img/20160520/9141463708531.jpg.484x0.jpg</string>
				<string>http://www.czgd.tv/upload_files/article/32/13_1437549636_6548721.jpg</string>
			</array>
			<array>
				<string>http://vpic.video.qq.com/4279403666/p00164k7ye0_ori_2.jpg</string>
				<string>http://img04.images2.china.com/grab/img/20160520/9141463708531.jpg.484x0.jpg</string>
				<string>http://www.czgd.tv/upload_files/article/32/13_1437549636_6548721.jpg</string>
			</array>
		</array>
		<key>time</key>
		<string>17:21</string>
		<key>like_count</key>
		<string>10</string>
		<key>comment_count</key>
		<string>5</string>
		<key>text</key>
		<string>呐，人活着最主要就是开心啊</string>
		<key>name</key>
		<string>大表哥</string>
		<key>icon</key>
		<string>Brother</string>
	</dict>
	<dict>
		<key>photos</key>
		<array>
			<array/>
			<array/>
		</array>
		<key>time</key>
		<string>17:22</string>
		<key>like_count</key>
		<string>4</string>
		<key>comment_count</key>
		<string>2</string>
		<key>text</key>
		<string>大家快回来啊，爸爸发红包</string>
		<key>name</key>
		<string>爸爸</string>
		<key>icon</key>
		<string>Dad</string>
	</dict>
	<dict>
		<key>photos</key>
		<array>
			<array>
				<string>http://img02.tooopen.com/images/20151128/tooopen_sy_149759881365.jpg</string>
				<string>http://img.taopic.com/uploads/allimg/121017/240425-12101H0164835.jpg</string>
				<string>http://img.tuku.cn/file_thumb/201411/m2014111715245623.jpg</string>
				<string>http://img006.hc360.cn/g7/M03/03/54/wKhQslQJOquEXUaRAAAAABOiXoU392.jpg</string>
			</array>
			<array>
				<string>http://img02.tooopen.com/images/20151128/tooopen_sy_149759881365.jpg</string>
				<string>http://img.taopic.com/uploads/allimg/121017/240425-12101H0164835.jpg</string>
				<string>http://img.tuku.cn/file_thumb/201411/m2014111715245623.jpg</string>
				<string>http://img006.hc360.cn/g7/M03/03/54/wKhQslQJOquEXUaRAAAAABOiXoU392.jpg</string>
			</array>
		</array>
		<key>time</key>
		<string>18:21</string>
		<key>like_count</key>
		<string>3</string>
		<key>comment_count</key>
		<string>12</string>
		<key>text</key>
		<string>今天做了好多好吃的哦😄😄😄</string>
		<key>name</key>
		<string>妈妈</string>
		<key>icon</key>
		<string>Mom</string>
	</dict>
	<dict>
		<key>photos</key>
		<array>
			<array>
				<string>http://img2.imgtn.bdimg.com/it/u=765203469,185140895&amp;fm=21&amp;gp=0.jpg</string>
			</array>
			<array>
				<string>http://img2.imgtn.bdimg.com/it/u=765203469,185140895&amp;fm=21&amp;gp=0.jpg</string>
			</array>
		</array>
		<key>time</key>
		<string>20:23</string>
		<key>like_count</key>
		<string>4</string>
		<key>comment_count</key>
		<string>5</string>
		<key>text</key>
		<string>我在国外过的很好，大家不用担心🐶</string>
		<key>name</key>
		<string>姐姐</string>
		<key>icon</key>
		<string>sister</string>
	</dict>
</array>
</plist>
